body{
  background: rgb (27,59,198); /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-linear-gradient(left,rgb(33,62,192),rgb(64,82,160));
  /* For Opera 11.1 to 12.0 */
  background: -o-linear-gradient(left,rgb(33,62,192),rgb(64,82,160));
  /* For Fx 3.6 to 15 */
  background: -moz-linear-gradient(left,rgb(33,62,192),rgb(64,82,160));
  /* Standard syntax */
}
#messageBox{
    width:30%;
    height:22em;
    position:fixed;
    display:block;
    background-color:rgba(0,0,0,0.8);

}
#lobbyMessageHistory{
    height:90%;
    display:block;
    color:white;
    overflow-x: hidden;
    overflow-y: scroll;
}
#lobbyMessageBox{
    display:block;
    background-color:rgba(250,250,250,0.8);
    color:black;
    position:fixed;
    width:30%;
}
#message_input{
    background-color:none;
    width:25%;
    border:0px;
    padding:0px;
    display:block;
    position:fixed;
    float:left;
}
#message_button{
    background-color:rgba(0,0,0,0.8);
    width:5%;
    border:0px;
    padding:0px;
    display:block;
    position:fixed;
    float:right;
    margin-left: 25%;
    color:white;

}
#lobbyMessageHistory::-webkit-scrollbar{
width:16px;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb{
background-color:rgba(250,250,250,0.4);
border-radius:10px;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:hover{
background-color:rgba(250,250,250,0.8);
border:1px solid #333333;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:active{
background-color:white;
border:1px solid #333333;
}
#myCanvas {
    margin-left:auto;
    margin-right:auto;
}
#hideBoards{
    display:block;
    position:fixed;
    width:100%;
    margin-top:13%;
}
#canvasMessages{
    display:block;
    position:absolute;
    width:100%;
}
