.playerSection{
    text-transform: capitalize;
}
.playerHand{
    width:100%;
    border:0.2em solid black;
}
.playerHand p {
    margin:0px;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:2.5em;
    padding-right:0.5em;
}
.researcher {
    background-image: url("../images/PlayerPortraits/Researcher.png");
    background-size:2em;
    background-repeat: no-repeat;
    background-color: rgb(205,133,63)
}
#researcher {
    background-color:rgb(205,133,63);
}


.medic{
    background-image: url("../images/PlayerPortraits/medic.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(204,102,0);

}
#medic{
    background-color: rgb(204,102,0);
}

.scientist {
    background-image: url("../images/PlayerPortraits/scientist.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgba(102,255,255,0.8);
}
#scientist {
    background-color: rgba(102,255,255,0.8);
}

.dispatcher{
    background-image: url("../images/PlayerPortraits/Dispatcher.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(102,0,102);
}
#dispatcher{
    background-color:rgb(102,0,102);
}
.contingencyPlanner{
    background-image: url("../images/PlayerPortraits/Contingency Planner.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(0,102,204);
}
#contingencyPlanner{
    background-color: rgb(0,102,204);
}

.operationsExpert{
    background-image: url("../images/PlayerPortraits/Operations Expert.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(0,153,76);
}
#operationsExpert{
    background-color: rgb(0,153,76);
}


.quarantineSpecialist{
    background-image: url("../images/PlayerPortraits/Quarantine Specialist.png");
    background-size: 2em;
    background-repeat: no-repeat;
    background-color: rgb(0,51,0);
}
#quarantineSpecialist{
    background-color: rgb(0,51,0);
}

#playerCards{
    color:white;
    width:20%;
    height:22em;
    display:block;
    z-index:2;
    float:right;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgba(0,0,0,0.8);

}
#playerCards::-webkit-scrollbar{
width:16px;
}
#playerCards::-webkit-scrollbar-thumb{
background-color:rgba(250,250,250,0.4);
border-radius:10px;
}
#playerCards::-webkit-scrollbar-thumb:hover{
background-color:rgba(250,250,250,0.8);
border:1px solid #333333;
}
#playerCards::-webkit-scrollbar-thumb:active{
background-color:white;
border:1px solid #333333;
}
.red{
    background-image: url("../images/colors/red.png");
    background-size: 2em;
    background-repeat: no-repeat;
}
.black{
    background-image: url("../images/colors/black.png");
    background-size: 2em;
    background-repeat: no-repeat;
}
.blue{
    background-image: url("../images/colors/blue.png");
    background-size: 2em;
    background-repeat: no-repeat;
}
.yellow{
    background-image: url("../images/colors/yellow.png");
    background-size: 2em;
    background-repeat: no-repeat;
}