body{
    background-color:transparent;
}
html{
    background: url("../images/WorldMap.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bottomLeftButton{
    padding:3%;
    width:100%;
}

#lasttoo{
    margin-top:3%;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
#last {
    margin:0px;
}
.bottomRightButton{
    padding:3%;
    width:100%;
}
button{
    width:100%;

}

.col-sm-6{
    padding:0px;

}
#newGame{
    visibility: normal;
}
#existingGame{
    visibility: normal;
}
#menu,#newGame,#existingGame{
    display:block;
    margin-top:25%;
    margin-left:25%;
    margin-right:25%;
    visibility: visible;
    height:20%;
}
.col-sm-12 h2{
    width:100%;
}
.col-sm-6 h3,{
    margin-left:15px;
}
.messageHere{
    width:100%;
    padding:1.5%;
}
#goGame{
    width:100%;
}
#startGame{
    width:100%;
}

#topMenu{
    padding-bottom:1%;
    padding-left:0px;
    padding-right:0px;
}
#bottomMenu{
    padding-top:1%;
}
.topMenuButton{
    padding:1.5%;
    width:100%;
}
#menuBottomLeft,#newGameBottomLeft{
    padding-right:1%;
}
#menuBottomRight,#newGameBottomRight{
    padding-left:1%;
}
