#messageBox{
    width:30%;
    height:30%;
    position:fixed;
    display:block;
    background-color:rgba(0,0,0,0.8);
    margin-top:4%;
}
#lobbyMessageHistory{
    height:90%;
    display:block;
    color:white;
    overflow-x: hidden;
    overflow-y: scroll;
}
#lobbyMessageBox{
    display:block;
    background-color:rgba(250,250,250,0.8);
    color:black;
    position:fixed;
    width:30%;
}
#message_input{
    background-color:none;
    width:25%;
    border:0px;
    padding:0px;
    display:block;
    position:fixed;
    float:left;
}
#message_button{
    background-color:rgba(0,0,0,0.8);
    width:5%;
    border:0px;
    padding:0px;
    display:block;
    position:fixed;
    float:right;
    margin-left: 25%;
    color:white;

}


#gameStarter{

    position:fixed;
    height:4%;
}

#lobbyMessageHistory::-webkit-scrollbar{
width:16px;
background-color:rgba(0,0,0,0.3);
}
#lobbyMessageHistory::-webkit-scrollbar-thumb{
background-color:rgba(250,250,250,0.4);
border-radius:10px;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:hover{
background-color:rgba(250,250,250,0.8);
border:1px solid #333333;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:active{
background-color:white;
border:1px solid #333333;
}
