#messageBox{
    margin-left:20%;
    margin-right:30%;
    width:60%;
    z-index:2;
    height: 30%;
    top: 75em;
    position: absolute;
    display: block;
    background-color: rgba(0,0,0,0.8);
    margin-top: 4%;
}
#logo{
    display:block;
    margin-left:30%;
    margin-right:30%;
    visibility: visible;
    width:40%;
}
#lobbyMessageHistory{
    height:90%;
    display:block;
    color:white;
    overflow-x: hidden;
    overflow-y: scroll;
}
#lobbyMessageBox{
    display:block;
    background-color:rgba(250,250,250,0.8);
    color:black;
    position:absolute;
    width:100%;
}
#message_input{
    background-color:none;
    width:90%;
    border:0px;
    padding:0px;
    display:block;
    position:absolute;
    float:left;
}
#message_button{
    background-color:rgba(0,0,0,0.8);
    width:10%;
    border:0px;
    padding:0px;
    display:block;
    position:absolute;
    float:right;
    margin-left: 90%;
    color:white;

}


#gameStarter{

    position:fixed;
    height:4%;
}

#lobbyMessageHistory::-webkit-scrollbar{
width:16px;
background-color:rgba(0,0,0,0.3);
}
#lobbyMessageHistory::-webkit-scrollbar-thumb{
background-color:rgba(250,250,250,0.4);
border-radius:10px;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:hover{
background-color:rgba(250,250,250,0.8);
border:1px solid #333333;
}
#lobbyMessageHistory::-webkit-scrollbar-thumb:active{
background-color:white;
border:1px solid #333333;
}
h1{
    color:white;
    font-weight:bold;
    font-size:400%;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}
button{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#lockIn{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.5em;

}
#showMessages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom:0.5em;
    color:red;
    background-image: url("../images/bothdirections.png");
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: left;
}
#buttonsIntermission{
    display:block;
}
#gameStarter{
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    background-color: rgba(230, 0, 0,0.75);
    width:10%;
    margin-left:45%;
    margin-right:45;
    color:white;
    font-weight:bold;
    border:4px solid rgba(64, 102, 238, 0.8);
    border-radius:10px;
}
#showRoleOptions h2{
    text-transform:uppercase;
}
#showRoleOptions{
    margin-bottom:30%;
}
input[type=radio]{
    display:none;
    width: 2em;
    height: 2em;
    border:4px solid rgba(64, 102, 238, 0.8);
}
input[type=radio] + label:before,input[type=radio]:checked + label:before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align:middle;
    margin-right: 8px;
    text-color:white;

    background-color: rgba(64, 22, 251, 0.4);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 8px;
    border:0.1em solid rgba(64, 102, 238, 0.8);
    text-align:center;

}
input[type=radio]:checked + label:before {
    background-color: rgba(230, 0, 0,0.75);
}