body{
    background-color:transparent;
}
html{
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
h2{
    color:white;
    font-weight:bold;
    font-size:200%;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}
button{
    background-color: rgba(64, 22, 251, 0.4);
    color:white;
    font-weight:bold;
    font-size:200%;
    border:4px solid rgba(64, 102, 238, 0.8);
    border-radius:10px;

}
button:hover{
    background-color: rgba(64, 22, 251, 0.7);
    color:red;
}
table{
    margin-top:2%;
}

table, th, td {
    background-color: rgba(64, 22, 251, 0.4);
    color:white;
    font-weight:bold;
    border:0.4em solid rgba(64, 102, 238, 0.8);
    border-radius:1em;
    text-shadow: 0px 0px 8px black;
    text-align:center;
}
tbody{
    background-color: rgba(64, 22, 251, 0.4);

}
label{
    color:white;
    font-weight:bold;
    font-size:1.5em;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}
input[type=radio]{
    display:none;
    width: 2em;
    height: 2em;
    border:4px solid rgba(64, 102, 238, 0.8);
}
input[type=radio],input[type=radio]:checked {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    vertical-align:middle;
    margin-right: 8px;
    background-color: rgba(64, 22, 251, 0.4);
    border-radius: 8px;
    border:0.1em solid rgba(64, 102, 238, 0.8);
    text-align:center;

}
input[type=radio]:checked{
    background-color: rgba(230, 0, 0,0.75);
}

/*
* === All ID's go here ===
*/
#logo{
    display:block;
    margin-left:20%;
    margin-right:20%;
    visibility: visible;
    width:60%;
}
#existingGame{
    display:block;
    margin-left:25%;
    margin-right:25%;
    visibility: visible;
    height:20%;
}
#roomOptions{
    max-height:30%;
    color:white;
}
#lasttoo{
    margin-top:3%;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
#rightTableSide,#rightTableSideTwo{
    border-right:0px;
    border-radius:0px;
}
#leftTableSide,#leftTableSideTwo{
    border-left:0px;
    border-radius:0px;
}
#newGameBottomLeft{
    padding-right:1%;
}
#newGameBottomRight{
    padding-left:1%;
}
#last {
    margin:0px;
}
#newGame{
    visibility: normal;
}

#startGame{
    width:100%;
}
/*
* === All Classes go here ===
*/
.messageHere{
    width:100%;
    padding:1.5%;
    background-color: rgba(64, 22, 251, 0.4);
    color:white;
    font-weight:bold;
    font-size:120%;
    border:4px solid rgba(64, 102, 238, 0.8);
    border-radius:5px;
}
.bottomLeftButton{
    padding:3%;
    width:100%;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}
.bottomRightButton{
    padding:3%;
    width:100%;
    font-size:200%;
    font-weight:bold;
    background-color: rgba(64, 22, 251, 0.4);
    color:white;
    border:4px solid rgba(64, 102, 238, 0.8);
    border-radius:10px;
    text-align: center;
    text-shadow: 0px 0px 8px black;
}
.bottomRightButton:hover{
    background-color: rgba(64, 22, 251, 0.7);
    color:red;
}
.tname{
    width:65%;
}
.optionalRooms{
    color:white;
    height:30px;
    width:30px;
}
.dif{
    width:15%;
}
.npla{
    width:20%;
}
.errorMessage{
    font-weight:bold;
    color:black;
    text-align: center;
    text-shadow: 0px 0px 8px red;
}