.playerImage{
    width:10%;
    height:10%;
    padding-top:3%;
}

.container{

}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}


.researcher{background-image:url("../images/PlayerPortraits/Researcher.png");}
.medic{background-image:url("../images/PlayerPortraits/Medic.png");}
.contingencyPlanner{background-image:url("../images/PlayerPortraits/Operations Expert.png");}
.operationsExpert{background-image:url("../images/PlayerPortraits/Researcher.png");}
.dispatcher{background-image:url("../images/PlayerPortraits/Dispatcher.png");}
.scientist{background-image:url("../images/PlayerPortraits/Scientist.png");}
.quarantineSpecialist{background-image:url("../images/PlayerPortraits/Quarantine Specialist.png");}


.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}


.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}


.drinkcard-cc{
    margin-left: auto;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 20em;
    height: 14em;
    margin-right: auto;
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
#playerSelection{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    visibility: visible;
    height: 20%;
    background-color: rgba(64, 22, 251, 0.4);
    border:4px solid rgba(64, 102, 238, 0.8);
    border-radius:10px;
}
/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

h2{

}