language: python
python:
  - 2.7

install: pip install -r pandemic/requirements.txt

deploy:
- provider: s3
  access_key_id: $access
  secret_access_key: $key
  local_dir: dpl_cd_upload
  skip_cleanup: true
  on:
    all_branches: true
  bucket: capstone-cavaliers
  region: ap-southeast-2
- provider: codedeploy
  access_key_id: $access
  secret_access_key: $key
  bucket: capstone-cavaliers
  key: latest.zip
  bundle_type: zip
  application: Pandemic_2
  deployment_group: Pandemic_2
  region: ap-southeast-2
  on:
    all_branches: true

script:
  - zip -r latest *
  - mkdir -p dpl_cd_upload
  - mv latest.zip dpl_cd_upload/latest.zip