<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="static/images/favicon.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/newTeamPage.css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lobby.js') }}"></script>

    <title>Pandemic | New team</title>

</head>
<body>
    <div id="container">
        <img id = "logo" src="static/images/pandemic.png" alt="Pandemic logo">
        <div id="newGame">
            <div class="col-sm-12"><h1 class="errorMessage">{{error}}</h1></div>

            <form action = "/lobby" method = "post">
                <div class="row">
                    <div class="col-sm-12"><h2>Team Name</h2></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input class = "messageHere" placeholder="" name = "roomname" value="Mexico"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Team Privacy</h2></div>
                     <div class="col-sm-6"><center><input  class = "privacy-bullets" type="radio" name="privacy" value="public" id="public" checked="checked"><label for="public">Public</label><br></center></div>
                    <div class="col-sm-6"><center><input  class = "privacy-bullets" type="radio" name="privacy" value="private" id = "private"><label for="private">Private</label><br></center></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Game Difficulty</h2></div>
                    <div class="col-sm-4"><center><input  class = "difficulty-bullets" type="radio" name="difficulty" value="Normal" checked="checked" id="normal"><label for="normal">Normal</label><br></center></div>
                    <div class="col-sm-4"><center><input  class = "difficulty-bullets" type="radio" name="difficulty" value="Hard" id="hard"><label for="hard">Hard</label><br></center></div>
                    <div class="col-sm-4"><center><input  class = "difficulty-bullets" type="radio" name="difficulty" value="Legendary" id = "legendary"><label for="legendary">Legendary</label><br></center></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Your Name</h2></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input class="messageHere" type = "text"  placeholder= "" name = "username" value="Jorge"></div>
                </div>
                <div class="row">
                    </div>

                <input type="hidden" name="roomtype" value="create">
                <div class="row" id = "last">
                    <div class="col-sm-6" id="newGameBottomLeft"> <button class="bottomLeftButton" id="goBack" type="button" onclick="goBack">Go Back</button></div>
                    <div class="col-sm-6" id="newGameBottomRight"><input class="bottomRightButton" id = "goGame" type= "submit" value= "Create Team"></div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>