<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/home.css">

    <title>Pandemic | New team</title>

</head>
<body>
    <!--<img src="static/images/Pandemic_Banner.jpg">-->
    <div id="container">
        <!--<h1 id="title"> WELCOME TO PANDEMIC</h1>-->
        <img id = "logo" src="static/images/pandemic.png" alt="Pandemic logo">

        <div id="newGame">

            <form action = "/lobby" method = "post">
                <div class="row">
                    <div class="col-sm-12"><h2>Team Name</h2></div>
                    <div class="col-sm-12"><input  class = "bullets" type="radio" name="privacy" value="public">Public</div>
                    <div class="col-sm-12"><input  class = "bullets" type="radio" name="privacy" value="private" checked="checked">Private</div>

                    </br>
                    <div class="col-sm-12"><input  class = "bullets" type="radio" name="difficulty" value="Easy" checked="checked">Easy</div>
                    <div class="col-sm-12"><input  class = "bullets" type="radio" name="difficulty" value="Medium">Medium</div>
                    <div class="col-sm-12"><input  class = "bullets" type="radio" name="difficulty" value="Hard">Hard</div>

                </div>

                <div class="row">
                    <div class="col-sm-12"><input class = "messageHere" placeholder="" name = "roomname"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Your Name</h2></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input class="messageHere" type = "text"  placeholder= "" name = "username" ></div>
                </div>
                <div class="row">
                <h1>{{error}}</h1>
                    </div>

                <input type="hidden" name="roomtype" value="create">
                <div class="row" id = "last">
                    <div class="col-sm-6" id="newGameBottomLeft"> <button class="bottomLeftButton" id="goBack" type="button" onclick="goBack">Go Back</button></div>
                    <div class="col-sm-6" id="newGameBottomRight"><input class="bottomRightButton" id = "goGame" type= "submit" value= "Create Team"></div>
                </div>
            </form>
        </div>

    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lobby.js') }}"></script>


</body>
</html>