<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/pregame.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/home.css"  hidden >
    <link rel="stylesheet" href="static/css/intermission.css"  hidden >

    <meta charset="UTF-8">
    <title>Team Lobby Page</title>
</head>
<body>

                <div class="col-sm-12"><h2>Chose a character role you wish to play as!</h2></div>
                <div id="showRoleOptions"class="row">
                    <form id="myForm">
                    {%for role in playerRoles %}
                    {% if playerRoles[role] == 0 %}
                        <div id="{{role}}"class="col-sm-12"><input  class = "bullets" type="radio" name="role" value="{{role}}">{{role}}</div>
                    {% else %}
                        {{role}} is already taken! {{playerRoles[role]}}
                    {% endif %}
                    {% endfor %}
                    </form>
                    <br/><br/>
                    <button onclick="setRole()" id="lockIn" type="button">Lock in your player Role!</button>

                </div>


<h1>Chat room for team {{ room }} </h1>
<div id = "messageBox">

        <div id = "lobbyMessageHistory">

        </div>

        <div id="lobbyMessageBox">
                <input class = "typeMessageHere" id="message_input" placeholder="">
                <input class="three"id="message_button" type="button" value="Send">
        </div>
</div>
<input id="gameStarter" type="button" value= "PLAY ">

</body>
</html>