<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/pregame.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/playerChoice.css"></head>

    <meta charset="UTF-8">
    <title>Team Lobby Page</title>
</head>
<body>



                <div class="col-sm-12"><h2>Chose a character role you wish to play as!</h2></div>
                <div id="showRoleOptions">
                    <form id="myForm">
                        <div class="cc-selector-2">
                    {%for role in playerRoles %}
                    {% if playerRoles[role] == 0 %}


                     <div class="col-sm-2">

                            {% if role == "researcher" %}
                            <p>Researcher</p>
                             <div data-toggle="tooltip" data-placement="top" title="You may give a player cards from your hand for 1 action per card">

                            {% elif role == "medic" %}
                                 <p>Medic</p>
                             <div data-toggle="tooltip" data-placement="top" title="You may give a player cards from your hand for 1 action per card.<br>
                                   -Both of your pawns must be in the same city, but it doesn't matter which city you are in.">

                            {% elif role == "scientist" %}
                                 <p>scientist</p>
                             <div data-toggle="tooltip" data-placement="top" title="-Remove all cubes of a single color when you treat a city.<br>
                                   -Administer known cures for free.">


                            {% elif role == "dispatcher" %}
                                 <p>dispatcher</p>
                             <div data-toggle="tooltip" data-placement="top" title="You only need 4 cards of the same color to discover a cure.">


                            {% elif role == "operationsExpert" %}
                                 <p>operationsExpert</p>
                             <div data-toggle="tooltip" data-placement="top" title="You may build a Research Station in your current city for one action.">


                            {% elif role == "quarantineSpecialist" %}
                                 <p>quarantineSpecialist</p>
                             <div data-toggle="tooltip" data-placement="top" title="Any city you are in and surrounding cities cannot get infected nor can it outbreak.">


                            {% endif %}

                            <input type="radio" id="{{role}}" name="role" value="{{role}}" />
                            <label class="drinkcard-cc {{role}}" for="{{role}}"></label>
                                            </div>

                                        </div>

                    {% else %}

                    {% endif %}
                    {% endfor %}
                            </div>


                    </form>
                    <br/><br/>
                    <button onclick="setRole()" id="lockIn" type="button">Lock in your player Role!</button>


                </div>
                <!--<form>-->
                    <!--<p>A simple mod:</p>-->
                    <!--<div class="cc-selector-2">-->
                        <!--<input id="visa2" type="radio" name="creditcard" value="visa" />-->
                        <!--<label class="drinkcard-cc visa" for="visa2"></label>-->
                        <!--<input id="mastercard2" type="radio" name="creditcard" value="mastercard" />-->
                        <!--<label class="drinkcard-cc mastercard"for="mastercard2"></label>-->
                    <!--</div>-->

                <!--</form>-->


<h1>Chat room for team {{ room }} </h1>

        <h3>Message</h3>
        <div class="two">
            <input class = "typeMessageHere" id="message_input" placeholder="">
            <input class="three"id="message_button" type="button" value="Send">
        </div>

        <h3>Chat history</h3>
        <textarea id="log"></textarea>


<input id="gameStarter" type="button" value= "PLAY ">




</body>
</html>