<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pandemic | Join Secret Team</title>
    <link rel="icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/joinTeamPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lobby.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


<body>
        <img id = "logo" src="static/images/pandemic.png" alt="Pandemic logo">
        <div id="existingGame">
            <div class="col-sm-12"><h1>{{error}}</h1></div>

            <form action = "/secret" method = "post">
                <div class="row">
                    <div class="col-sm-12"><h2>Your Name</h2></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input class = "messageHere" placeholder="" name = "username"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><h2>Secret Room Name</h2></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><input class = "messageHere" placeholder="" name = "roomname"></div>
                </div>
                <input type="hidden" name="roomtype" value="join">
                <div class="row" id = "lasttoo">
                    <div class="col-sm-6" id="newGameBottomLeft"> <button class="bottomLeftButton" type="button" id="goBackOnce">Go Back</button></div>
                    <div class="col-sm-6" id="newGameBottomRight"><input class="bottomRightButton" id = "goGame" type= "submit" value= "Join Team"></div>
                </div>

            </form>
        </div>
</body>
</html>