<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/css/game.css">

</head>
<body style="margin:0px;">

<h1 id="load"> Loading </h1>
<div id="hideBoards">

<div id = "messageBox">



        <div id = "lobbyMessageHistory">

        </div>

        <div id="lobbyMessageBox">
                <input class = "typeMessageHere" id="message_input" placeholder="">
                <input class="three"id="message_button" type="button" value="Send">
        </div>
</div>
<div id="playerCards"></div>
</div>
<h3 id="newMessage"></h3>

<canvas id="myCanvas" width="1920" height="1080">
</canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script src="static/js/canvasInitilization.js"></script>
<script src="static/js/infectionRate.js"></script>
<script src="static/js/outbreakCounter.js"></script>
<script src="static/js/spriteClass.js"></script>
<script src="static/js/infectionClass.js"></script>
<script src="static/js/cityClass.js"></script>
<script src="static/js/playerClass.js"></script>
<script src="static/js/playerInitilization.js"></script>
<script src="static/js/playerPortraitInitilization.js"></script>
<script src="static/js/playerPortrait.js"></script>
<script src="static/js/backgroundMusic.js"></script>
<script src="static/js/GameBoardPlayerMessagingSystem.js"></script>
<script src="static/js/playerHand.js"></script>
<script src="static/js/playerCard.js"></script>
<script src="static/js/cureStatus.js"></script>
<script src="static/js/playerActionsBar.js"></script>
<script src="static/js/infectionMeter.js"></script>

<script src="static/js/socketCommunication.js"></script>

<script src="static/js/locations.js"></script>


<script src="static/js/spriteAnimate.js"></script>



</body>
</html>