<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="static/images/favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/css/game.css">
    <link rel="stylesheet" href="static/css/gamePlayerCards.css">
    <script>
        function tuggleBox(){
            $('#messageBox').animate({width: 'toggle'});
        }
        function tugglehand(){
            $('#playerCards').animate({width: 'toggle'});
        }

    </script>
</head>
<body style="margin:0px;">



    <button id = "showMessages" onclick="tuggleBox()">Show Message Board</button>

    <div id = "messageBox">
            <div id = "lobbyMessageHistory">
            </div>
            <div id="lobbyMessageBox">
                    <input class = "typeMessageHere" id="message_input" placeholder="">
                    <input class="three"id="message_button" type="button" value="Send">
            </div>
    </div>

    <button id = "showHand" onclick="tugglehand()">Show Player Hands</button>
    <div id="playerCards"></div>
    <h3 id="newMessage" style="display:none"></h3>
    <canvas id="myCanvas" width="1920" height="1080" style="display:none">
    </canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script src="static/js/canvasInitilization.js"></script>
<script src="static/js/infectionRate.js"></script>
<script src="static/js/outbreakCounter.js"></script>
<script src="static/js/spriteClass.js"></script>
<script src="static/js/infectionClass.js"></script>
<script src="static/js/cityClass.js"></script>
<script src="static/js/playerClass.js"></script>
<script src="static/js/playerInitilization.js"></script>
<script src="static/js/playerPortraitInitilization.js"></script>
<script src="static/js/playerPortrait.js"></script>
<script src="static/js/backgroundMusic.js"></script>
<script src="static/js/GameBoardPlayerMessagingSystem.js"></script>
<script src="static/js/playerHand.js"></script>
<script src="static/js/playerCard.js"></script>
<script src="static/js/infectionCard.js"></script>
<script src="static/js/cureStatus.js"></script>
<script src="static/js/playerActionsBar.js"></script>
<script src="static/js/infectionMeter.js"></script>
<script src="static/js/discardPile.js"></script>
<script src="static/js/eventCardViewer.js"></script>
<script src="static/js/messageAlert.js"></script>
<script src="static/js/socketCommunication.js"></script>

<script src="static/js/locations.js"></script>

<script src="static/js/actionStateHolder.js"></script>
<script src="static/js/spriteAnimate.js"></script>



</body>
</html>