<!DOCTYPE html>
<html>
<body>

<p />
<input class = "btn" id="clickTest" type="button" value="TESTER" />
<p />
<input class = "Audio" id = "Mute" type="button" value="Mute" />
<input class = "Audio" id = "Play" type="button" value="Play/Pause" />
<!-- <input type="button" value="Infect" onclick="infecting()" /> -->
<!-- <input type="button" value="Move Infect" onclick="moveInfection()" /> -->
<input type="button" value="Direct Flight" onclick="directFlight()" />
<input type="button" value="Charter Flight" onclick="charterFlight()" />
<input type="button" value="Shuttle Flight" onclick="shuttleFlight()" />
<input type="button" value="Build Research Station" onclick="buildResearch()" />
<input type="button" value="Share Knowledge GIVE" onclick="shareKnowledgeGive()" />
<input type="button" value="Share Knowledge TAKE" onclick="shareKnowledgeTake()" />
<input type="button" value="Treat Disease" onclick="treatDisease()" />
<input type="button" value="Discover Cure" onclick="discoverCure()" />
<input type="button" value="add card to player" onclick="addPlayersCard()" />
<input type="button" value="Discard a card" onclick="discardCard()" />

<!-- <img id="scream" 
src="WorldMap.jpg" alt="The Scream"> -->
<div class="Cardscontainer">
        <h3>current Cards</h3>
        <textarea id="cards"></textarea>
    </div>

<p>Canvas:</p>
<h1 id="load"> Loading </h1>
<canvas id="myCanvas" width="1920" height="1080"
style="border:1px solid #d3d3d3;display:none;">
Your browser does not support the HTML5 canvas tag.
</canvas>

    <div class="container">
        <h3>Message</h3>
        <input id="message_input" placeholder="">
        <input id="message_button" type="button" value="Send">

    </div>
    <div class="container">
        <h3>Chat history</h3>
        <textarea id="log"></textarea>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>


	$('.btn').on('click', function(e){
		alert("Button clicked with value: "+e.currentTarget.value);
	});


</script>
<script src="static/js/canvasInitilization.js"></script>
<script src="static/js/infectionRate.js"></script>
<script src="static/js/outbreakCounter.js"></script>
<script src="static/js/spriteClass.js"></script>
<script src="static/js/infectionClass.js"></script>
<script src="static/js/cityClass.js"></script>
<script src="static/js/playerClass.js"></script>
<script src="static/js/playerInitilization.js"></script>
<script src="static/js/playerPortraitInitilization.js"></script>
<script src="static/js/playerPortrait.js"></script>
<script src="static/js/backgroundMusic.js"></script>
<script src="static/js/GameBoardPlayerMessagingSystem.js"></script>
<script src="static/js/playerHand.js"></script>
<script src="static/js/playerCard.js"></script>
<script src="static/js/cureStatus.js"></script>
<script src="static/js/playerActionsBar.js"></script>

<script src="static/js/socketCommunication.js"></script>

<script src="static/js/locations.js"></script>


<script src="static/js/spriteAnimate.js"></script>


</body>
</html>