<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pandemic | Join Secret Team</title>
    <link rel="icon" href="static/images/favicon.png">

    <link rel="stylesheet" href="static/css/helpPage.css">
    <link rel="stylesheet" href="static/css/welcomePage.css"  hidden >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lobby.js') }}"></script>


</head>


<body>
    <img id = "logo" src="static/images/pandemic.png" alt="Pandemic logo">
    <div id="actionCard">
    <h1>How to....</h1>
    <iframe src="https://www.youtube.com/embed/b3Z33dfvxKM9U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h1>How to....</h1>
    <iframe src="https://www.youtube.com/embed/b3Z3sd3vxKM9U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    <h1>How to....</h1>
    <iframe src="https://www.youtube.com/embed/b3Z33fdsvxKM9U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <button id = "goBack" type= "button">Home</button>

</body>
</html>