<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pandemic | Join Secret Team</title>
    <link rel="icon" href="static/images/favicon.png">

    <link rel="stylesheet" href="static/css/helpPage.css">
    <link rel="stylesheet" href="static/css/welcomePage.css"  hidden >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lobby.js') }}"></script>


</head>


<body>
    <img id = "logo" src="static/images/pandemic.png" alt="Pandemic logo">
    <div id="actionCard">
    <h1>Player Roles Explained</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/d19dvzr2nPE" frameborder="0" gesture="media" allowfullscreen></iframe>
    <h1>Introduction to the game</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/2MBfZ36dXXc" frameborder="0" gesture="media" allowfullscreen></iframe>
    <h1>Actions bar explained</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/r4YPia9fRpA" frameborder="0" gesture="media" allowfullscreen></iframe>
    </div>
    <button id = "goBack" type= "button">Home</button>

</body>
</html>